@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using CalendarWebApp.Data
@using CalendarWebApp.Utility
@using MyGroup = CalendarWebApp.Data.Group

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ApplicationDbContext DbContext

<PageTitle>Profile</PageTitle>

<div class="w-100" style="height:100%;">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="card bg-light w-100" style="max-width:28rem; margin:auto; font-family:var(--rz-font-family, 'Roboto', 'Helvetica', Arial, sans-serif); color:var(--rz-text-color, #212529);">
            <div class="card-body p-4">
                <RadzenText TextStyle="TextStyle.H5" class="rz-text-align-center rz-mb-2">Profile</RadzenText>
                <StatusMessage />
                <EditForm Model="Input" method="post" OnValidSubmit="OnValidSubmitAsync" FormName="profile" class="w-100">
                    <DataAnnotationsValidator />
                    <hr />
                    <ValidationSummary class="text-danger mb-3" role="alert" />
                    <div class="form-floating mb-3">
                        <input type="text" value="@username" id="username" class="form-control" placeholder="Choose your username." disabled />
                        <label for="email" class="form-label">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" value="@dateOfBirth" id="dateOfBirth" class="form-control" placeholder="Choose your Date Of Birth" disabled />
                        <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" value="@roleGet" id="role" class="form-control" placeholder="Choose your role" disabled />
                        <label for="role" class="form-label">Role</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" value="@organisation" id="organisation" class="form-control" placeholder="Choose your organisation" disabled />
                        <label for="dateOfBirth" class="form-label">Organisation</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" value="@group" id="group" class="form-control" placeholder="Group" disabled />
                        <label for="group" class="form-label">Group</label>
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Name" id="Input.Name" class="form-control" placeholder="Enter your name" />
                        <label for="Input.Name" class="form-label">Name</label>
                        <ValidationMessage For="() => Input.Name" class="text-danger" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.PhoneNumber" id="Input.PhoneNumber" class="form-control" placeholder="Enter your phone number" />
                        <label for="Input.PhoneNumber" class="form-label">Phone number</label>
                        <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
                    </div>
                    <div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                    </div>
                </EditForm>

            </div>
        </div>
    </div>
</div>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private DateOnly? dateOfBirth;
    private string? phoneNumber;
    private string? name;

    private string? group;
    private string? organisation;

    private string? role;

    private string roleGet
    {
        get
        {
            switch (role)
            {
                case SD.Role_God:
                    return "God mode";
                case SD.Role_Group_Leader:
                    return "Csoportvezető";
                case SD.Role_Employee:
                    return "Alkalmazott";
                default:
                    return "Felhasználó";

            }
        }
    }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var principal = HttpContext.User;
        var userId = UserManager.GetUserId(principal);


        if (userId != null)
        {
            user = await DbContext.Users
                .Include(u => u.HierarchicalGroup)
                .ThenInclude(g => g.Organisation)
                .FirstOrDefaultAsync(u => u.Id == userId);
        }

        if (user == null)
        {
            user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        }

        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);
        role = (await UserManager.GetRolesAsync(user)).FirstOrDefault();
        name = user.Name;
        dateOfBirth = user.DateOfBirth;


        group = user.HierarchicalGroup?.Name ?? "Nincs csoport";
        organisation = user.HierarchicalGroup?.Organisation?.Name ?? "Nincs szervezet";

        Input.PhoneNumber ??= phoneNumber;
        Input.Name ??= name;
    }

    private async Task OnValidSubmitAsync()
    {
        bool hasChanges = false;

        if (Input.PhoneNumber != phoneNumber)
        {
            var setPhoneResult = await UserManager.SetPhoneNumberAsync(user, Input.PhoneNumber);
            if (!setPhoneResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set phone number.", HttpContext);
            }
        }

        if (Input.Name != name)
        {
            user.Name = Input.Name;

            var updateResult = await UserManager.UpdateAsync(user);
            if (!updateResult.Succeeded)
            {
                RedirectManager.RedirectToCurrentPageWithStatus("Error: Failed to set name.", HttpContext);
                return;
            }
            hasChanges = true;
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Your profile has been updated", HttpContext);
    }

    private sealed class InputModel
    {
        [Phone]
        [Display(Name = "Phone number")]
        public string? PhoneNumber { get; set; }

        [Display(Name = "Name")]
        public string? Name { get; set; }
    }
}
