@page "/calendar"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using System.Globalization
@using CalendarWebApp.Data
@attribute [Authorize]

@using CalendarWebApp.Repository.IRepository
@using MyAppointment = RadzenBlazorDemos.Appointment

@inject DialogService DialogService
@inject IAppointmentRepository _appointmentRepository
@inject Radzen.TooltipService TooltipService
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject IGroupRepository _groupRepository

<PageTitle>Naptár - GriffSync</PageTitle>


@if (isProcessing)
{
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 400px;">
        <img src="/img/loading.gif" alt="loading" style="width: 200px;" />
    </div>
}
else
{
    <article class="content px-4 liquid-calendar-wrapper">
        <RadzenStack AlignItems="AlignItems.Center">
            <RadzenText TextStyle="TextStyle.DisplayH5" class="card-title">Üdvözöljük, @name!</RadzenText>
            <RadzenText TextStyle="TextStyle.DisplayH6" class="gauge-label">Kellemes pihenést kívánunk!</RadzenText>
        </RadzenStack>
        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.Center" class="top-dashboard-container" Gap="2rem">

            <RadzenStack Orientation="Orientation.Vertical" class="dashboard-card">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenText TextStyle="TextStyle.DisplayH5" class="card-title">Szabadság</RadzenText>
                    <RadzenText TextStyle="TextStyle.DisplayH6" class="gauge-label"><span style="font-size: 0.9em; opacity: 0.7;">@currentDate.Year</span></RadzenText>
                </RadzenStack>
                <RadzenArcGauge Style="width: 100%; height: 200px;">
                    <RadzenArcGaugeScale Step="1" Min="0" Max="@totalFreeDays"
                                         MinorStep="1" Radius="1"
                                         TickPosition="GaugeTickPosition.None" Y="0.8" Margin="0">
                        <RadzenArcGaugeScaleValue Value="@remainingFreeDays" ShowValue="true">
                            <Template Context="pointer">
                                <RadzenStack AlignItems="AlignItems.Center" Gap="0" Style="margin-top: -40%;">
                                    <RadzenText TextStyle="TextStyle.H4" class="gauge-value">
                                        @pointer.Value <span style="font-size: 0.6em; opacity: 0.7;">/ @totalFreeDays</span>
                                    </RadzenText>
                                    <RadzenText TextStyle="TextStyle.Caption" class="gauge-label">nap</RadzenText>
                                </RadzenStack>
                            </Template>
                        </RadzenArcGaugeScaleValue>
                    </RadzenArcGaugeScale>
                </RadzenArcGauge>
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Vertical" class="dashboard-card">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenText TextStyle="TextStyle.DisplayH5" class="card-title">Home Office</RadzenText>
                    <RadzenText TextStyle="TextStyle.DisplayH6" class="gauge-label"><span style="font-size: 0.9em; opacity: 0.7;">@weekNumber. hét</span></RadzenText>
                </RadzenStack>
                <RadzenArcGauge Style="width: 100%; height: 200px;">
                    <RadzenArcGaugeScale Step="1" Min="0" Max="@weeklyHomeOfficeLimit"
                                         MinorStep="1" Radius="1"
                                         TickPosition="GaugeTickPosition.None" Y="0.8" Margin="0">
                        <RadzenArcGaugeScaleValue Value="@remainingHomeOfficeDays" ShowValue="true">
                            <Template Context="pointer">
                                <RadzenStack AlignItems="AlignItems.Center" Gap="0" Style="margin-top: -40%;">
                                    <RadzenText TextStyle="TextStyle.H4" class="gauge-value">
                                        @pointer.Value <span style="font-size: 0.6em; opacity: 0.7;">/ @weeklyHomeOfficeLimit</span>
                                    </RadzenText>
                                    <RadzenText TextStyle="TextStyle.Caption" class="gauge-label">nap</RadzenText>
                                </RadzenStack>
                            </Template>
                        </RadzenArcGaugeScaleValue>
                    </RadzenArcGaugeScale>
                </RadzenArcGauge>
            </RadzenStack>

            <RadzenStack Orientation="Orientation.Vertical" Gap="1rem" class="dashboard-card">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                    <RadzenText TextStyle="TextStyle.DisplayH5" class="card-title">csoportom</RadzenText>
                    <RadzenText TextStyle="TextStyle.DisplayH6" class="gauge-label"><span style="font-size: 0.8em; opacity: 0.7;">@groupName</span></RadzenText>
                </RadzenStack>
                <RadzenStack Gap="0.5rem" Style="padding-right: 5px;">
                    <RadzenText style="color: rgba(255, 255, 255, 0.7);">Szabadságok:</RadzenText>
                    @if (groupMembers != null && groupMembers.Any())
                    {
                        @foreach (var member in groupMembers)
                        {
                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px">
                                <RadzenIcon Icon="account_circle" Style="font-size: 1.5rem; color: rgba(255, 255, 255, 0.7);" />

                                <RadzenStack Gap="0">
                                    <RadzenText TextStyle="TextStyle.Body2" Style="margin: 0;">
                                        <span style="font-weight: 800; color: rgba(255, 255, 255, 0.7);">@member.Name: </span>
                                        @if (memberVacations.ContainsKey(member.Id))
                                        {
                                            <RadzenText TextStyle="TextStyle.Caption" Style="margin-left: 0.1rem; color: rgba(255, 255, 255, 0.5); font-weight: 600;">
                                                @memberVacations[member.Id]
                                            </RadzenText>
                                        }
                                        else
                                        {
                                            <RadzenText TextStyle="TextStyle.Caption" Style="margin-left: 0.1rem; color: rgba(255, 255, 255, 0.5); font-style: italic;">
                                                nincs
                                            </RadzenText>
                                        }
                                    </RadzenText>
                                </RadzenStack>
                            </RadzenStack>
                        }
                    }
                    else
                    {
                        <RadzenText TextStyle="TextStyle.Body2" Style="color: gray; font-style: italic;">
                            Nincsenek megjeleníthető tagok.
                        </RadzenText>
                    }
                </RadzenStack>
            </RadzenStack>

        </RadzenStack>

        <RadzenStack AlignItems="AlignItems.Center">
            <RadzenSelectBar TValue="int" @bind-Value="@selectedMonth" Change="@OnMonthChanged" Size="ButtonSize.Small">
                <Items>
                    <RadzenSelectBarItem Value="1" Text="Január" />
                    <RadzenSelectBarItem Value="2" Text="Február" />
                    <RadzenSelectBarItem Value="3" Text="Március" />
                    <RadzenSelectBarItem Value="4" Text="Április" />
                    <RadzenSelectBarItem Value="5" Text="Május" />
                    <RadzenSelectBarItem Value="6" Text="Június" />
                    <RadzenSelectBarItem Value="7" Text="Július" />
                    <RadzenSelectBarItem Value="8" Text="Augusztus" />
                    <RadzenSelectBarItem Value="9" Text="Szeptember" />
                    <RadzenSelectBarItem Value="10" Text="Október" />
                    <RadzenSelectBarItem Value="11" Text="November" />
                    <RadzenSelectBarItem Value="12" Text="December" />
                </Items>
            </RadzenSelectBar>
        </RadzenStack>
        <RadzenScheduler @ref=@scheduler SlotRender=@OnSlotRender Date="@currentDate" DateChanged="@OnDateChanged" TItem="MyAppointment" Data=@appointments StartProperty="Start" EndProperty="End" ShowHeader=true
                         TextProperty="Type" SelectedIndex="0" AppointmentMouseEnter=@OnAppointmentMouseEnter AppointmentMouseLeave=@OnAppointmentMouseLeave
                         SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender
                         AppointmentMove=@OnAppointmentMove>
            <RadzenMonthView />
        </RadzenScheduler>
    </article>
}

@code {
    private RadzenScheduler<MyAppointment> scheduler;
    private Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();
    private bool isProcessing { get; set; } = true;
    private IEnumerable<MyAppointment> appointments = new List<MyAppointment>();
    private DateTime currentDate = DateTime.Today;
    private int selectedMonth = DateTime.Today.Month;
    private const int weeklyHomeOfficeLimit = 2;
    private int weekNumber;
    private int remainingFreeDays;
    private int totalFreeDays;
    private int remainingHomeOfficeDays;
    private string groupName;
    private string name;
    private List<ApplicationUser> groupMembers = new List<ApplicationUser>();
    private Dictionary<string, string> memberVacations = new Dictionary<string, string>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            weekNumber = ISOWeek.GetWeekOfYear(currentDate);
            await LoadAppointments();
            await FreeDays();
            await HomeOfficeDays();
            await LoadGroup();
            isProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadGroup()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);
        name = user.Name;

        if (user != null && user.HierarchicalGroupId != null)
        {
            var group = await _groupRepository.GetByIdAsync(user.HierarchicalGroupId);
            if (group != null)
            {
                groupName = group.Name;
                groupMembers = UserManager.Users
                    .Where(u => u.HierarchicalGroupId == user.HierarchicalGroupId)
                    .ToList();

                await CalculateMemberVacations(groupMembers);
            }
        }
        else
        {
            groupName = "Nincs csoport";
        }
    }

    private async Task CalculateMemberVacations(List<ApplicationUser> members)
    {
        memberVacations.Clear();

        var userIds = members.Select(u => u.Id).ToList();
        var allApps = await _appointmentRepository.GetByUsersAsync(userIds);

        foreach (var member in members)
        {
            var userVacations = allApps
                .Where(a => a.UserId == member.Id &&
                            a.Type == "Szabadság" &&
                            a.End.Date >= DateTime.Today)
                .ToList();

            if (!userVacations.Any())
            {
                continue;
            }

            HashSet<DateTime> vacationDays = new HashSet<DateTime>();
            foreach (var app in userVacations)
            {
                var start = app.Start.Date < DateTime.Today ? DateTime.Today : app.Start.Date;
                var end = app.End.Date;

                for (var dt = start; dt <= end; dt = dt.AddDays(1))
                {
                    vacationDays.Add(dt);
                }
            }

            if (vacationDays.Count == 0)
            {
                continue;
            }

            var firstDay = vacationDays.Min();
            var lastDay = firstDay;

            while (vacationDays.Contains(lastDay.AddDays(1)))
            {
                lastDay = lastDay.AddDays(1);
            }

            string dateString;
            if (firstDay == lastDay)
            {
                dateString = firstDay.ToString("MM. dd.");
            }
            else
            {
                dateString = $"{firstDay.ToString("MM. dd.")} - {lastDay.ToString("MM. dd.")}";
            }

            memberVacations[member.Id] = dateString;
        }
    }

    private async Task FreeDays()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;
        var user = await UserManager.GetUserAsync(claimsPrincipal);

        if (user != null)
        {
            int daysTaken = await _appointmentRepository.CalculateFreeDays(user.Id, currentDate.Year);
            remainingFreeDays = user.TotalFreeDays - daysTaken;
            totalFreeDays = user.TotalFreeDays;
        }
    }

    private async Task HomeOfficeDays()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var claimsPrincipal = authState.User;
        var user = await UserManager.GetUserAsync(claimsPrincipal);

        if (user != null)
        {
            int hoDaysTaken = await _appointmentRepository.GetWeeklyHomeOfficeCount(user.Id, DateTime.Today);
            remainingHomeOfficeDays = weeklyHomeOfficeLimit - hoDaysTaken;
        }
    }

    private void OnMonthChanged(int month)
    {
        currentDate = new DateTime(DateTime.Today.Year, month, 1);
        selectedMonth = month;
    }

    private void OnDateChanged(DateTime date)
    {
        currentDate = date;
        selectedMonth = date.Month;
    }

    private async Task LoadAppointments()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
        appointments = await _appointmentRepository.GetAllAsync(userId);
        await FreeDays();
        await HomeOfficeDays();
        await LoadGroup();
    }

    private void OnSlotRender(SchedulerSlotRenderEventArgs args)
    {
        if (args.View.Text == "Month" && args.Start.Date == DateTime.Today)
        {
            args.Attributes["style"] = "background: rgba(255, 255, 255, 0.4); box-shadow: inset 0 0 15px rgba(255,255,255,0.6);";
        }
    }

    private async Task OnSlotSelect(SchedulerSlotSelectEventArgs args)
    {
        var existingAppointment = appointments.FirstOrDefault(x => x.Start.Date == args.Start.Date);

        if (existingAppointment != null)
        {
            var copy = new MyAppointment
            {
                Id = existingAppointment.Id,
                Start = existingAppointment.Start,
                End = existingAppointment.End,
                Type = existingAppointment.Type,
                Description = existingAppointment.Description,
                UserId = existingAppointment.UserId
            };

            var data = await DialogService.OpenAsync<EditAppointmentPage>("Szerkesztés", new Dictionary<string, object> { { "Appointment", copy } }, new DialogOptions() { CssClass = "glass-dialog", Width = "600px" });

            if (data is MyAppointment model)
            {
                await _appointmentRepository.UpdateAsync(data);

                await LoadAppointments();
                await scheduler.Reload();
            }
            else if (data is bool deleted && deleted)
            {
                await LoadAppointments();
                await scheduler.Reload();
            }
        }
        else
        {
            if (args.View.Text != "Year")
            {
                MyAppointment data = await DialogService.OpenAsync<AddAppointmentPage>("Esemény hozzáadása",
                    new Dictionary<string, object> { { "Start", args.Start } }, new DialogOptions() { CssClass = "glass-dialog", Width = "600px" });

                if (data != null)
                {
                    data.Start = data.Start.Date;
                    data.End = data.Start.Date.AddDays(1).AddSeconds(-1);

                    var targetDate = data.Start.Date;
                    var checkAppointment = appointments.FirstOrDefault(x => x.Start.Date == targetDate);

                    if (checkAppointment != null)
                    {
                        checkAppointment.Type = data.Type;
                        checkAppointment.Description = data.Description;

                        await _appointmentRepository.UpdateAsync(checkAppointment);
                    }
                    else
                    {
                        await _appointmentRepository.CreateAsync(data);
                    }

                    await LoadAppointments();
                    // Either call the Reload method or reassign the Data property of the Scheduler
                    await scheduler.Reload();
                }
            }
        }
    }

    private async Task OnAppointmentSelect(SchedulerAppointmentSelectEventArgs<MyAppointment> args)
    {
        var copy = new MyAppointment
        {
            Id = args.Data.Id,
            Start = args.Data.Start,
            End = args.Data.End,
            Type = args.Data.Type,
            Description = args.Data.Description,
            UserId = args.Data.UserId
        };

        var data = await DialogService.OpenAsync<EditAppointmentPage>("Szerkesztés", new Dictionary<string, object> { { "Appointment", copy } }, new DialogOptions() { CssClass = "glass-dialog", Width = "600px" });

        if (data is MyAppointment model)
        {

            model.Start = model.Start.Date;
            model.End = model.Start.Date.AddDays(1).AddSeconds(-1);

            var targetDate = model.Start.Date;
            var checkAppointment = appointments.FirstOrDefault(x => x.Id != model.Id && x.Start.Date == targetDate);

            if (checkAppointment != null)
            {
                checkAppointment.Type = model.Type;
                checkAppointment.Description = model.Description;

                await _appointmentRepository.UpdateAsync(checkAppointment);
                await _appointmentRepository.DeleteAsync(model.Id);
            }
            else
            {
                await _appointmentRepository.UpdateAsync(data);
            }

            await LoadAppointments();
            await scheduler.Reload();
        }
        else if (data is bool deleted && deleted)
        {
            await LoadAppointments();
            await scheduler.Reload();
        }
    }

    private void OnAppointmentRender(SchedulerAppointmentRenderEventArgs<MyAppointment> args)
    {
        // Never call StateHasChanged in AppointmentRender - would lead to infinite loop
        switch (args.Data.Type)
        {
            case "Szabadság":
                args.Attributes["style"] = "background: rgba(102, 187, 106, 0.7);";
                break;
            case "HomeOffice":
                args.Attributes["style"] = "background: rgba(255, 160, 0, 0.7)";
                break;
            case "Képzés":
                args.Attributes["style"] = "background: rgb(239, 83, 80, 0.7)";
                break;
            case "Táppénz":
                args.Attributes["style"] = "background: rgba(144, 164, 174, 0.7)";
                break;
        }

    }

    private async Task OnAppointmentMove(SchedulerAppointmentMoveEventArgs args)
    {
        var targetDate = args.SlotDate.Date;
        var draggedAppointment = appointments.FirstOrDefault(x => x == args.Appointment.Data);

        if (draggedAppointment != null)
        {
            var existingAppointment = appointments.FirstOrDefault(x => x.Start.Date == targetDate && x.Id != draggedAppointment.Id);

            if (existingAppointment != null)
            {
                existingAppointment.Type = draggedAppointment.Type;
                existingAppointment.Description = draggedAppointment.Description;
                await _appointmentRepository.UpdateAsync(existingAppointment);
                await _appointmentRepository.DeleteAsync(draggedAppointment.Id);
            }
            else
            {
                draggedAppointment.Start = targetDate;
                draggedAppointment.End = targetDate.AddDays(1).AddSeconds(-1);
                await _appointmentRepository.UpdateAsync(draggedAppointment);
            }
            await LoadAppointments();
            await scheduler.Reload();
        }
    }



    private void OnAppointmentMouseEnter(SchedulerAppointmentMouseEventArgs<Appointment> args)
    {
        static bool IsSingleDay(Appointment a)
        {
            var startDate = a.Start.Date;
            var effectiveEndDate = a.End.TimeOfDay == TimeSpan.Zero ? a.End.Date.AddDays(-1) : a.End.Date;
            return startDate == effectiveEndDate;
        }

        bool onlySunday = IsSingleDay(args.Data) && args.Data.Start.DayOfWeek == DayOfWeek.Sunday;
        var position = onlySunday ? TooltipPosition.Left : TooltipPosition.Top;

        TooltipService.Open(args.Element, ts =>
        @<RadzenStack Orientation="Orientation.Vertical" Gap="0" class="rz-p-6" Style="min-width: 250px; max-width: 500px;">
            <RadzenText TextStyle="TextStyle.H4" class="rz-mb-4" Style="color: var(--rz-tooltip-color);">
                @args.Data.Type
            </RadzenText>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="4px">
                <RadzenText TextStyle="TextStyle.Body2" Style="color: var(--rz-tooltip-color); width: 44px;">
                    <strong>Date</strong>
                </RadzenText>
                <RadzenText TextStyle="TextStyle.Body2" Style="color: var(--rz-tooltip-color);">
                    @args.Data.Start.ToString("dddd, MMMM d")
                </RadzenText>
            </RadzenStack>

        @if (args.Data.Description != null)
        {
                <RadzenStack Orientation="Orientation.Vertical" Style="align-items:flex-start; margin-top: 8px;">
                    <RadzenText TextStyle="TextStyle.Body1" Style="color: var(--rz-tooltip-color); width: 64px;">
                        <strong>Description</strong>
                    </RadzenText>
                    <div style="max-height:150px; overflow:auto; white-space:pre-wrap; word-break:break-word; color: var(--rz-tooltip-color); font-size:0.95rem;">
                        @FormatDescription(args.Data.Description)
                    </div>
                </RadzenStack>
        }
        </RadzenStack>, new TooltipOptions { Position = position, Duration = null });
    }

    private void OnAppointmentMouseLeave(SchedulerAppointmentMouseEventArgs<Appointment> args)
    {
        TooltipService.Close();
    }

    private static MarkupString FormatDescription(string? description)
    {
        if (string.IsNullOrWhiteSpace(description))
        {
            return new MarkupString(string.Empty);
        }

        var trimmed = description!.Trim();

        if (trimmed.Contains("<") && trimmed.Contains(">"))
        {
            return new MarkupString(trimmed);
        }

        var encoded = System.Text.Encodings.Web.HtmlEncoder.Default.Encode(trimmed)
            .Replace("\r\n", "<br/>")
            .Replace("\n", "<br/>");
        return new MarkupString(encoded);
    }
}